::ng-deep mat-sidenav {
  background-color: #2c3e50;
}

/* Força cor branca nos textos dos links */
::ng-deep mat-sidenav .mat-list-item .mat-line {
  color: white !important;
}

/* Estilo opcional ao passar o mouse */
::ng-deep mat-sidenav .mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
