<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/morador">Moradores</a>
      <a mat-list-item routerLink="/conta">Contas</a>
      <a mat-list-item routerLink="/saldo">Saldo</a>
      <a mat-list-item routerLink="/extrato">Extrato</a>
      <a mat-list-item routerLink="/login">Sair</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Gerenciamento de República</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

